<!-- Validation failure messages -->
<% if @accommodation_favorite.errors.any? %>
  <% @accommodation_favorite.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Accommodation Favorite #<%= @accommodation_favorite.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_accommodation_favorite/<%= @accommodation_favorite.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for accommodation_id -->
      <div class="form-group">
        <label for="accommodation_id" class="control-label">
          Accommodation
        </label>

        <input type="text" id="accommodation_id" name="accommodation_id" placeholder="Accommodation" class="form-control" value="<%= @accommodation_favorite.accommodation_id %>">
      </div>

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @accommodation_favorite.user_id %>">
      </div>

      <button class="btn btn-warning">
        Update Accommodation Favorite
      </button>
      or
      <a href="/accommodation_favorites/<%= @accommodation_favorite.id %>">Cancel</a>
    </form>
  </div>
</div>
