<div class="page-header">
  <h1>
    Accommodation favorites
    <a href="/accommodation_favorites/new" class="btn btn-lg btn-success">New Accommodation favorite</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Accommodation</th>
        <th>User</th>
        <th>Actions</th>
      </tr>

      <% @accommodation_favorites.each do |accommodation_favorite| %>
      <tr>
        <td><%= accommodation_favorite.accommodation.name %></td>
        <td><%= accommodation_favorite.user_id %></td>
        <td>
          <a href="/accommodation_favorites/<%= accommodation_favorite.id %>" class="btn btn-primary">Show</a>
          <a href="/accommodation_favorites/<%= accommodation_favorite.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_accommodation_favorite/<%= accommodation_favorite.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
