<div class="page-header">
  <h3>Accommodation Favorite #<%= @accommodation_favorite.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Accommodation</dt>
      <dd><%= @accommodation_favorite.accommodation_id %></dd>

      <dt>User</dt>
      <dd><%= @accommodation_favorite.user_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/accommodation_favorites" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @accommodation_favorite.user %>
        <a href="/accommodation_favorites/<%= @accommodation_favorite.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_accommodation_favorite/<%= @accommodation_favorite.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
