<div class="page-header">
  <h3>Accommodation #<%= @accommodation.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @accommodation.name %></dd>

      <dt>Address</dt>
      <dd><%= @accommodation.address %></dd>

      <dt>Image</dt>
      <dd><img src="<%= @accommodation.image %>" class="img-responsive"></dd>

      <dt>Cost per night</dt>
      <dd><%= @accommodation.cost_per_night %></dd>

      <dt>User</dt>
      <dd><%= @accommodation.user_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/accommodations" class="btn btn-primary">
        Back
      </a>
      <a href="/accommodations/<%= @accommodation.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_accommodation/<%= @accommodation.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Accommodation has many accomodation_photos -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Accomodation Photos
      </li>

      <% @accommodation.accomodation_photos.each do |accomodation_photo| %>
        <li class="list-group-item">
          <a href="/accomodation_photos/<%= accomodation_photo.id %>">
            <%= accomodation_photo.accommodation_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/accomodation_photos/<%= accomodation_photo.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/accomodation_photos/<%= accomodation_photo.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_accomodation_photo/<%= accomodation_photo.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Accommodation has many accommodation_favorites -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Accommodation Favorites
      </li>

      <% @accommodation.accommodation_favorites.each do |accommodation_favorite| %>
        <li class="list-group-item">
          <a href="/accommodation_favorites/<%= accommodation_favorite.id %>">
            <%= accommodation_favorite.accommodation_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/accommodation_favorites/<%= accommodation_favorite.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/accommodation_favorites/<%= accommodation_favorite.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_accommodation_favorite/<%= accommodation_favorite.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
