<div class="page-header">
  <h3>Accommodation #<%= @accommodation.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @accommodation.name %></dd>

      <dt>Address</dt>
      <dd><%= @accommodation.address %></dd>

      <dt>Image</dt>
      <dd><img src="<%= @accommodation.image %>" class="img-responsive"></dd>

      <dt>Cost per night</dt>
      <dd><%= @accommodation.cost_per_night %></dd>

      <dt>User</dt>
      <dd><%= @accommodation.user_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/accommodations" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @accommodation.user %>
        <a href="/accommodations/<%= @accommodation.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_accommodation/<%= @accommodation.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Accommodation has many accomodation_photos -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Accomodation Photos
      </li>

      <% @accommodation.accomodation_photos.each do |accomodation_photo| %>
        <li class="list-group-item">
          <a href="/accomodation_photos/<%= accomodation_photo.id %>">
            <%= accomodation_photo.accommodation_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/accomodation_photos/<%= accomodation_photo.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/accomodation_photos/<%= accomodation_photo.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_accomodation_photo/<%= accomodation_photo.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_accomodation_photo" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for accommodation_id -->
      <input type="hidden" name="accommodation_id" value="<%= @accommodation.id %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="">
      </div>

      <!-- Label and input for caption -->
      <div class="form-group">
        <label for="caption" class="control-label">
          Caption
        </label>

        <textarea id="caption" name="caption" placeholder="Caption" class="form-control" rows="3"></textarea>
      </div>

      <button class="btn btn-block btn-success">
        Create Accomodation Photo
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Accommodation has many accommodation_favorites -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Accommodation Favorites
      </li>

      <% @accommodation.accommodation_favorites.each do |accommodation_favorite| %>
        <li class="list-group-item">
          <a href="/accommodation_favorites/<%= accommodation_favorite.id %>">
            <%= accommodation_favorite.accommodation_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/accommodation_favorites/<%= accommodation_favorite.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/accommodation_favorites/<%= accommodation_favorite.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_accommodation_favorite/<%= accommodation_favorite.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_accommodation_favorite" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for accommodation_id -->
      <input type="hidden" name="accommodation_id" value="<%= @accommodation.id %>">

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <button class="btn btn-block btn-success">
        Create Accommodation Favorite
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
