<div class="page-header">
  <h1>
    Points of interests photos
    <a href="/points_of_interests_photos/new" class="btn btn-lg btn-success">New Points of interests photo</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Points of interest</th>
        <th>User</th>
        <th>Caption</th>
        <th>Actions</th>
      </tr>

      <% @points_of_interests_photos.each do |points_of_interests_photo| %>
      <tr>
        <td><%= points_of_interests_photo.points_of_interest_id %></td>
        <td><%= points_of_interests_photo.user_id %></td>
        <td><%= points_of_interests_photo.caption %></td>
        <td>
          <a href="/points_of_interests_photos/<%= points_of_interests_photo.id %>" class="btn btn-primary">Show</a>
          <a href="/points_of_interests_photos/<%= points_of_interests_photo.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_points_of_interests_photo/<%= points_of_interests_photo.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
