<div class="page-header">
  <h1>
    <a href="/friend_requests/new" class="btn btn-lg btn-success">New Post</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
	  <!-- The feed is driven by friend's posts -->
	  <% feed_item = []
	     FriendRequest.all.each do |friend_request|
		   # You only see your friends (if recipient is present and is you which is the current user
		   # to get all the senders)
           if friend_request.recipient.present? && friend_request.recipient == current_user
		     friend_request.sender.favorites.each do |fav|
			   if fav.restaurant.present?
			     hash = {:sender => friend_request.sender, :favorite => fav.restaurant }
		         feed_item.push(hash)
			   else
			     if fav.accommodation.present?
			       hash = {:sender => friend_request.sender, :favorite => fav.accommodation }
		           feed_item.push(hash)
				 else
				   if fav.points_of_interest.present?
			         hash = {:sender => friend_request.sender, :favorite => fav.points_of_interest }
		             feed_item.push(hash)
				   end
				 end
			   end
			 end
		   end
		 end
		 
		 feed_item.sort_by! { |k| k[:favorite].created_at }.reverse
		 
		 feed_item.each do |item| %>
		   <div class="panel panel-primary">
		     <div class="panel-heading"><%= item[:sender].username %></div>
		     <%= time_ago_in_words(item[:favorite].created_at) %> ago
		     <div class="panel-body">
			   <img class="img-responsive center-block" src="<%= item[:favorite].image %>" length="580" width="580" />
			   
			   <p>
				<form action="/create_favorite" method="post">
				  <!-- Hidden input for authenticity token to protect from forgery -->
				  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
				  
				  <!-- Search Favorites using restaurant, accommodation or point of interest id to check
				       if it has already been liked -->
				  <% like_user = ""
					 like_cnt = 0
					 isDelete = false
				     Favorite.all.each do |fav|
					   if fav.restaurant_id == item[:favorite].id ||
					      fav.accommodation_id == item[:favorite].id ||
						  fav.points_of_interest_id == item[:favorite].id
						  like_user = like_user + fav.user.username + ","
						  if fav.user == current_user %>
							  <a href="/delete_favorite/<%= fav.id %>" class="btn btn-link">
								<i class="fa fa-heart"></i>
							  </a>
							  <% isDelete = true
						  end
					   end
					   like_cnt += 1
					 end
					 if isDelete == false %>
					   <button class="btn btn-link">
						 <i class="fa fa-heart-o"></i>
					   </button>
					 <% end
					 
					 like_user = like_user.split(",")
					 if  like_cnt == 0
					   like_user = like_user.to_sentence %>
					   Be the first one like this
					 <% else %>
					   <%= like_user %> like this
					 <% end %>
				</form>
               </p>
			 </div>
		   </div>
		 <% end %>
	</div>
  </div>
</div>
