<div class="page-header">
  <h3>Restaurant Favorite #<%= @restaurant_favorite.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Restaurant</dt>
      <dd>
        <% if @restaurant_favorite.restaurant.present? %>
          <a href="/restaurants/<%= @restaurant_favorite.restaurant_id %>">
            <%= @restaurant_favorite.restaurant.name %>
          </a>
        <% end %>
      </dd>

      <dt>User</dt>
      <dd>
        <% if @restaurant_favorite.user.present? %>
          <a href="/users/<%= @restaurant_favorite.user_id %>">
            <%= @restaurant_favorite.user.email %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/restaurant_favorites" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @restaurant_favorite.user %>
        <a href="/restaurant_favorites/<%= @restaurant_favorite.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_restaurant_favorite/<%= @restaurant_favorite.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
