<div class="page-header">
  <h3>Accomodation Photo #<%= @accomodation_photo.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Accommodation</dt>
      <dd><%= @accomodation_photo.accommodation_id %></dd>

      <dt>User</dt>
      <dd><%= @accomodation_photo.user_id %></dd>

      <dt>Caption</dt>
      <dd><%= @accomodation_photo.caption %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/accomodation_photos" class="btn btn-primary">
        Back
      </a>
      <a href="/accomodation_photos/<%= @accomodation_photo.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_accomodation_photo/<%= @accomodation_photo.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
